In [13]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm

In [14]:
df = pd.read_csv('data.csv')
df

               x          y
0      52.768865  30.466943
1      55.598649  14.103713
2      61.461549  27.727829
3      51.210678   9.913478
4      62.070864  15.297742
...          ...        ...
42001  48.565182   3.553116
42002  42.185127  20.967862
42003  67.747000   4.643433
42004  40.969048  23.787052
42005  43.723223  21.753521

[42006 rows x 2 columns]

In [17]:
for i in tqdm(range(2, 21)):
    kmeans = KMeans(n_clusters=i).fit(df)
    sub = pd.DataFrame(columns=['x', 'y'], data=kmeans.cluster_centers_)
    sub.to_csv('sub'+str(i)+'.txt', header=None, index=False, sep=' ')

  0%|          | 0/19 [00:00<?, ?it/s]

In [5]:
kmeans = KMeans(n_clusters=2).fit(df)

In [6]:
kmeans.cluster_centers_

array([[48.33241189, 24.93251776],
       [44.49306625, 76.66863971],
       [59.04414971, 17.4761407 ],
       [50.69437073, 39.56571823],
       [45.03473575, 11.76535372],
       [63.1243865 ,  5.59256924],
       [31.49534284, 30.16549151],
       [59.87400649, 29.26557477]])

In [8]:
sub = pd.DataFrame(columns=['x', 'y'], data=kmeans.cluster_centers_)
sub

           x          y
0  48.332412  24.932518
1  44.493066  76.668640
2  59.044150  17.476141
3  50.694371  39.565718
4  45.034736  11.765354
5  63.124386   5.592569
6  31.495343  30.165492
7  59.874006  29.265575

In [10]:
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       8 non-null      float64
 1   y       8 non-null      float64
dtypes: float64(2)
memory usage: 260.0 bytes

In [12]:
sub.to_csv('sub.txt', header=None, index=False, sep=' ')